<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="banner" class="container-banner">
    <link rel="stylesheet" th:href="@{/css/banner.css}">'
    <div class="col-6 banner-left">
        <h1 class="banner-title" th:text="${banner.getTitle()}"></h1>
        <a target="_blank" class="banner-link" th:href="${banner.getUrl()}">Acessar</a>
    </div>
    <div class="col-6 banner-right">
        <p class="banner-description" th:text="${banner.getDescription()}"></p>
    </div>
</div>

</body>
</html>