<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="br">
<body>
    <header th:fragment="header" th:classappend="${#request.userPrincipal} ? 'header-dark' : 'header-light'">
        <nav>
            <div sec:authorize="isAnonymous()">
                <img class="logo-img-header" alt="Logo Townsq" src="/img/logo.svg" />
            </div>
            <a href="/" id="index-anchor">Início</a>
            <a href="#" id="ask-anchor" th:classappend="${#request.userPrincipal} ? 'show-only-mobile' : ''">Perguntar</a>
            <a sec:authorize="isAnonymous()" href="/user/edit" id="profile-anchor-link">Perfil</a>
            <a sec:authorize="isAuthenticated()" th:href="'/user/' + ${#authentication.getPrincipal().getId()}" id="profile-anchor">
                <img th:if="${#authentication.getPrincipal().getImage() == null}" src="/img/user.svg" alt="Imagem de perfil"/>
                <div style="width: 40px; height: 40px" th:if="${#authentication.getPrincipal().getImage() != null}">
                    <img class="avatar" th:src="${#authentication.getPrincipal().getImage()}" alt="Imagem de perfil"/>
                </div>
            </a>
            <div sec:authorize="isAuthenticated()">
                <button onclick="location.href='/users'" class="button-green-ease">Perguntar</button>
            </div>
            <div sec:authorize="isAnonymous()">
                <button onclick="location.href='/signup'" class="button-green-ease">Cadastrar</button>
            </div>
        </nav>

    </header>
</body>
</html>