<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="toasts" class="container-toast">
        <div th:if="${success}" th:classappend="${success} ? 'toast-show' : ''" class="toast toast-success">
            <img src="/img/icons/done.svg" alt="done logo" />
            <p th:text="${success}"></p>
        </div>
        <div th:if="${error}" th:classappend="${error} ? 'toast-show' : ''" class="toast toast-error">
            <img src="/img/icons/error.svg" alt="error logo" />
            <p th:text="${error}"></p>
        </div>
        <div th:if="${info}" th:classappend="${info} ? 'toast-show' : ''" class="toast toast-info">
            <img src="/img/icons/help.svg" alt="help logo" />
            <p th:text="${info}"></p>
        </div>
        <div th:if="${reputation}" th:classappend="${reputation} ? 'toast-show' : ''" class="toast toast-reputation">
            <img src="/img/icons/medal.svg" alt="medal logo" />
            <p th:text="${reputation}"></p>
        </div>
        <div class="toast toast-success custom-success">
            <img src="/img/icons/done.svg" alt="done logo" />
            <p></p>
        </div>
        <div class="toast toast-error custom-error">
            <img src="/img/icons/error.svg" alt="error logo" />
            <p></p>
        </div>
        <script th:inline="javascript">
            var error = [[${error}]];
            var success = [[${success}]];
            var info = [[${info}]];
            var reputation = [[${reputation}]];
            window.onload = function() {
                if(!error && !success && !info && !reputation)
                    return;
                let allShowed = document.querySelectorAll(".toast-show");
                if (allShowed) {
                    setTimeout(() => {
                        allShowed.forEach(el => el.classList.remove("toast-show"));
                    }, 2250)
                }
            };

            /**
             * Shows a custom toast
             * @param type error, success ...
             * @param text Text message
             */
            function showCustomToast(type, text){
                let div = document.querySelector(`.custom-${type}`);
                let p = div.querySelector('p');
                p.innerHTML = text;
                div.classList.add("toast-show")
                setTimeout(() => {
                    div.classList.remove("toast-show")
                }, 2250)
            }
        </script>
    </div>
</body>
</html>