<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: header"></div>
    <title>Página não encontrada</title>
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
    <header th:replace="fragments/header.html :: header"></header>
    <div class="error-container">
        <h1>Ops, essa página não existe 😢</h1>
    </div>
</body>
</html>