header{
    display: flex;
    justify-content: center;
}

.header-dark{
    background-color: var(--dark-green);
}

.header-light{
    background-color: var(--light-green);
}

header nav {
    padding: 10px;
    display: flex;
    align-items: center;
}

header nav a {
    margin-left: 40px;
    text-decoration: none;
    color: white;
}

header nav img{
    margin-top: 8px;
}

.button-green-ease{
    margin-left: 50px;
    padding: 10px 25px;
    border-radius: 20px;
    transition: background-color, opacity, color, 400ms ease;
}

.button-green-ease:hover{
    background-color: var(--darker-green);
    opacity: 60%;
    color: #FFFFFF;
}

.logo-img-header{
    margin: 0.5rem 0 0.5rem 0;
    height: 3em;
    width: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
    header{
        display: none;
    }
}

@media (max-width: 1025px) {

    header{
        flex-direction: column;
        align-items: center;
    }

    header nav{
        flex-direction: row;
    }

    header nav a .button-green-ease{
        margin: 0;
    }
}