.index-anon{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    background: url("/img/question.svg") bottom left no-repeat, url("/img/city.svg") bottom right no-repeat, var(--light-green);
    background-size: 32em;
}

.index-anon-text{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    width: 45%;
}

.index-anon h1, p{
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 48px;
}
.index-anon h1{
    font-weight: 900;
}

.index-anon-buttons{
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
}

.index-anon-buttons button{
    background-color: #FFFFFF;
    height: 58px;
    width: 278px;
    margin: 5px auto;
    border-radius: 42px;
    color: #000000;
    font-weight: bold;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 48px;
}

.main-content h1{
    font-weight: bold;
    text-align: center;
    margin-bottom: 64px;
}

.question-card{
    padding: 16px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    width: 90%;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.25);
    margin-bottom: 2em;
}

.question-card p{
    color: var(--dark-green)
}

.card-left{
    display: flex;
    flex-direction: column;
}

.card-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Open Sans, sans-serif;
}

.card-right p{
    font-family: Open Sans, sans-serif;
    margin: 0;
    color: var(--darker-green);
}

.card-right p:first-child{
    font-size: 2em;
}

.card-right small{
    font-family: Open Sans, sans-serif;
    margin: 0;
    color: var(--darker-gray);
    text-align: justify;
}

.question-title-status{
    display: inline-flex;
    justify-content: space-between;
    height: 1rem;
    margin-bottom: 16px;
}

.question-title-status a{
    color: var(--darker-green);
    text-decoration: none;
    font-size: 1.2em;
}

.question-creator{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.question-creator img{

}

.question-creator p{
    margin: 0;
}

.question-text{
    display: flex;
    justify-content: start;
}

.question-text p{
    color: #000000;
    text-align: justify;
}

.name-last-access{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4px;
}

.name-last-access p{
    color: #000000;
}

.name-last-access small{
    color: var(--darker-gray);
}

.question-card-divider{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 80%;
    border-left:1px solid #BEBEBE;
    border-right:1px solid #BEBEBE;
    margin: 0 8px 0 8px;
}

.status-pill{
    border-radius: 500px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.status-pill small{
    color: #FFFFFF;
    font-weight: bolder;
}

@media (max-width: 1600px) {
    .index-anon{
        background: url("/img/question.svg") bottom left no-repeat, url("/img/city.svg") bottom right no-repeat, var(--light-green);
        background-size: 28em;
    }
}

@media (max-width: 1400px) {
    .index-anon{
        background: url("/img/question.svg") bottom left no-repeat, url("/img/city.svg") bottom right no-repeat, var(--light-green);
        background-size: 24em;
    }
}

@media (max-width: 1200px) {
    .index-anon{
        background: var(--light-green);
    }
}