.profile-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.profile-info {
    display: flex;
    flex-direction: row;
}

.info-container {
    padding: 10px 0 0 10px;
}

.bio {
    padding-top: 10px;
}

.bio-item {
    margin-top: 10px;
}

.websiteLink {
    color: black;
}

@media (max-width: 1150px) {
    .profile-info-container {
        width: 100%;
    }
}