.form-control input, textarea{
    /*background-color: var(--dark-gray);*/
    /*height: 40px;*/
    width: auto !important;
    margin-right: 8px;
    /*border-radius: 5px;*/
    /*padding: 10px;*/
    /*margin-top: 10px;*/
}

.form-control {
    width: 100%;
}

.line {
    display: none;
    margin-top: 20px
}

#annotation{
    font-size: 11px;
    color: #FF3333;
}

.container {
    display: flex;
}

.user {
    width: 40%;
}

.img-container {
    width: 120px;
    height: 120px;
    display: flex;
}

.profile-edit {
    width: 60%;
    display: flex;
}

.newpicture {
    padding-top: 20px;
    width: 25%;
    height: 100%;
}

.form {
    width: 80%;
    height: 75%;
}

.question-card-divider {
    margin-right: 16px
}

.pic-title {
    display: none;
}

.form-group {
    display: flex;
}

#example{
    font-size: 11px;
    color: #000000;
}

@media (max-width: 1150px) {
    .container {
        flex-direction: column;
        width: 85%;
    }

    .profile-edit {
        width: 100%;
        height: 70%;
        flex-direction: column;
    }

    .img-container {
        width: 96px;
        height: 96px;
        display: flex;
    }

    .pontuacao {
        padding: 10px 15px;
        font-size: 10pt;
    }

    .newpicture {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pic-title {
        display: block;
    }

    .edit-title {
        display: none;
    }

    .form {
        width: 100%;
    }

    .line {
        display: block;
    }

    .question-card-divider {
        display: none;
    }

    .form-group {
        flex-direction: column;
    }

    .user {
        width: 100%;
    }
}