<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: header"></div>
    <title>Administrador</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div class="container">
    <div class="col-6">
        <div class="line"></div>
        <div class="tabs">
            <a class="prop" th:classappend="${active} ? 'active' : ''" href="/admin/banner">Editar Propaganda <span></span></a>
            <a class="mods" href="/admin/mods">Gerenciar Moderadores</a>
        </div>
        <form role="form" th:action="@{/admin/banner}" th:method="post">
            <div class="form">
                <h1 class="title">Atualize a propaganda</h1>
                <div class="form-control">
                    <label for="name">Titulo do anúncio</label>
                    <input type="text" name="name" id="name"/>
                </div>
                <div class="form-control">
                    <label for="link">Link do anúncio</label>
                    <input type="text" name="link" id="link"/>
                </div>
                <div class="form-control">
                    <label for="name">Texto do anúncio</label>
                    <textarea type="text" name="bio" id="bio"></textarea>
                </div>
                <div class="row white-background">
                    <button type="submit">Atualizar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="question-card-divider"></div>
    <div class="col-6"></div>

</div>

<div th:replace="fragments/toast.html :: toasts">
</div>
</body>
</html>