<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>
<body>
    <div th:insert="fragments/header.html"></div>
    <div class="index-anon" sec:authorize="isAnonymous()">
        <div class="index-anon-text">
            <h1>O melhor condomínio é aqui!</h1>
            <p>
                Procure ou crie sua dúvida e encontre a melhor solução.
                Não importa se sua duvida for sobre a pintura do prédio ou vaga de garagem,
                a TownSq torna mais fácil o acesso às respostas dos seus problemas.
            </p>
        </div>
        <div class="index-anon-buttons">
            <button onclick="location.href='/signin'">Fazer uma pergunta</button>
        </div>
    </div>
    <div class="container row">
        <aside class="col-3"></aside>
        <main class="main-content">
            <h1>Confira as perguntas mais recentes</h1>
            <div class="question-card">
                <div class="card-left">
                    <div class="question-title-status">
                        <p>Title</p>
                        <div class="status-pill bg-danger">
                            <small>Não solucionada</small>
                        </div>
                    </div>
                    <div class="question-text">
                        <p>Descrição da pergunta</p>
                    </div>
                    <div class="question-creator">
                        <div class="name-last-access">
                            <p>Bruno Almeida</p>
                        </div>
                    </div>
                </div>
                <div class="question-card-divider"></div>
                <div class="card-right">
                </div>
            </div>
        </main>
        <aside class="col-3"></aside>
    </div>
</body>
</html>