<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>
<body>
    <div th:insert="fragments/header.html"></div>
    <div class="index-anon" sec:authorize="isAnonymous()">
        <div class="index-anon-text">
            <h1>O melhor condomínio é aqui!</h1>
            <p>
                Procure ou crie sua dúvida e encontre a melhor solução.
                Não importa se sua duvida for sobre a pintura do prédio ou vaga de garagem,
                a TownSq torna mais fácil o acesso às respostas dos seus problemas.
            </p>
        </div>
        <div class="index-anon-buttons">
            <button onclick="location.href='/signin'">Fazer uma pergunta</button>
        </div>
    </div>
    <div class="container row">
        <div class="col-3"></div>
        <main class="main-content">
            <h1>Confira as perguntas mais recentes</h1>
            <div class="question-card">
                <p>Um zelador precisa cobrir o horário de almoço do porteiro?</p>
            </div>
        </main>
        <div class="col-3"></div>
    </div>
</body>
</html>