<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: header"></div>
    <title>Index</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="index-anon" sec:authorize="isAnonymous()">
    <div class="index-anon-text">
        <h1>O melhor condomínio é aqui!</h1>
        <p>
            Procure ou crie sua dúvida e encontre a melhor solução.
            Não importa se sua duvida for sobre a pintura do prédio ou vaga de garagem,
            a TownSq torna mais fácil o acesso às respostas dos seus problemas.
        </p>
    </div>
    <div class="index-anon-buttons">
        <button onclick="location.href='/signin'">Fazer uma pergunta</button>
    </div>
</div>
<div class="row">
    <aside>
        <div class="banner" th:if="${banner}">
            <div th:replace="fragments/banner.html :: banner"></div>
        </div>
    </aside>
    <main class="main-content">
        <img src="img/logo.svg" id="mobile-icon" alt="Logo da TownSq"/>
        <h1>Confira as perguntas mais recentes</h1>
        <div th:each="question: ${questions}" class="question-card">
            <div class="card-left">
                <div th:if="${question.getIsActive() == 0}" class="status-pill-questions bg-success">
                    <small>Solucionada</small>
                </div>
                <div th:if="${question.getIsActive() == 1}" class="status-pill-questions bg-danger">
                    <small>Não Solucionada</small>
                </div>
                <div class="question-title">
                    <a th:text="${question.getTitle()}" th:href="@{/question/{id}(id=${question.getId()})}"></a>
                </div>
                <div class="question-text">
                    <p th:text="${#strings.abbreviate(question.getDescription(), 200)}"></p>
                </div>
                <div class="question-creator">
                    <img alt="Imagem do perfil do usuário" th:if="${question.getUser().getImage()}" th:src="${question.getUser().getImage()}"/>
                    <img alt="Imagem do perfil do usuário" th:if="!${question.getUser().getImage()}" src="/img/user.svg"/>
                    <div class="name-last-access">
                        <a th:href="@{/user/{id}(id=${question.getUser().getId()})}" th:text="${question.getUser().getName()}"></a>
                        <small th:text="${question.getCreatedAtString()}"></small>
                    </div>
                </div>
            </div>
            <div class="card-right">
                <div class="question-card-divider"></div>
                <div class="card-right-text">
                    <p th:text="${question.getAllActiveAnswers().size()}"></p>
                    <p th:if="${question.getAllActiveAnswers().size() == 1}"> resposta</p>
                    <p th:if="${question.getAllActiveAnswers().size() != 1}"> respostas</p>
                    <small th:text="${question.getCommentCountString()}"></small>
                </div>
            </div>
        </div>
    </main>
    <aside></aside>
</div>
<div th:replace="fragments/toast.html :: toasts">
</div>
</body>
</html>