<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <div th:replace="fragments/head :: header"></div>
    <link rel="stylesheet" th:href="@{/css/question.css}">
    <title>Pergunta XYZ</title>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="justify-center">
    <main class="main-content">
        <div class="question-page-main-card">
            <div class="main-card-left">
                <img alt="Imagem do perfil do usuário" src="img/user.svg"/>
                <div class="name-last-access">
                    <p>Bruno Almeida</p>
                    <small>2 horas</small>
                </div>
            </div>
            <div class="main-card-right">
                <div class="question-title">
                    <a href="/question">Título da pergunta</a>
                </div>
                <div class="question-text">
                    <p>No prédio em que sou síndico está tendo uma discussão durante as reuniões sobre a presença q...</p>
                </div>
            </div>
        </div>
        <div class="status-pill-questions self-end bg-danger">
            <small>Não solucionada</small>
        </div>
        <div class="comments">
            <div class="comment-card">
                <div class="comment-left">
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                </div>
                <div class="comment-right">
                    <small>Bruno Silva</small>
                </div>
            </div>
            <div class="comment-card">
                <div class="comment-left">
                    <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                </div>
                <div class="comment-right">
                    <small>Fulano Jr.</small>
                </div>
            </div>
        </div>
        <hr>
        <div class="answer-textarea-container">
            <h2>Digite sua resposta</h2>
            <div sec:authorize="${!isAnonymous()}" class="answer-textarea-button">
                <textarea th:disabled="!${#request.userPrincipal}"></textarea>
                <button class="button-default bg-light-green" th:disabled="!${#request.userPrincipal}">Responder pergunta</button>
            </div>
            <div sec:authorize="${isAnonymous()}" class="required-login-banner">
                <h1>Você não está logado.</h1>
                <h2>Entre com sua conta ou cadastre-se para responder.</h2>
            </div>
        </div>
        <div class="question-answers">
            <div class="answer-card">
                <div class="answer-card-left">
                    <img alt="Imagem do perfil do usuário" src="img/user.svg"/>
                    <div class="name-last-access">
                        <p>Bruno Almeida</p>
                        <small>2 horas</small>
                    </div>
                </div>
                <div class="answer-card-right">
                    <div class="question-text">
                        <p>No prédio em que sou síndico está tendo uma discussão durante as reuniões sobre a presença q...</p>
                    </div>
                </div>
            </div>
            <div class="comments">
                <div class="comment-card">
                    <div class="comment-left">
                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                    </div>
                    <div class="comment-right">
                        <small>Bruno Silva</small>
                    </div>
                </div>
                <div class="comment-card">
                    <div class="comment-left">
                        <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</small>
                    </div>
                    <div class="comment-right">
                        <small>Fulano Jr.</small>
                    </div>
                </div>
            </div>
            <div class="answer-card">
                <div class="answer-card-left">
                    <img alt="Imagem do perfil do usuário" src="img/user.svg"/>
                    <div class="name-last-access">
                        <p>Bruno Almeida</p>
                        <small>2 horas</small>
                    </div>
                </div>
                <div class="answer-card-right">
                    <div class="question-text">
                        <p>No prédio em que sou síndico está tendo uma discussão durante as reuniões sobre a presença q...</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div th:replace="fragments/toast.html :: toasts">
</div>
</body>
</html>