<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <div th:replace="fragments/head :: header"></div>
    <link rel="stylesheet" th:href="@{/css/question.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">

    <title th:text="${question.getTitle()} + ' - Townsq'"></title>
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>

<div class="modal no-transitions clickable">
    <div class="modal-background">
        <p class="close" th:onclick="closeModal()">X</p>
        <form id="modal-form" role="form" th:action="''" th:method="post">
            <div class="row justify-space-between">
                <div class="col-12">
                    <div class="form-control">
                        <input type="hidden" th:value="${question.getId()}" th:name="question" th:id="question" />
                        <label for="text-input" id="form-title"></label>
                        <textarea name="text" id="text-input" required maxlength="512"></textarea>
                    </div>
                </div>
            </div>
            <div class="row white-background">
                <button type="submit" onclick="submitModalForm()">Salvar</button>
            </div>
        </form>
    </div>
</div>

<div id="contentDiv" class="justify-center relative">
    <main class="main-content">
        <div class="question-card-actions">
            <div sec:authorize="isAuthenticated()"
                 th:if="${#authentication.getPrincipal().id==question.getUser().getId() || #authorization.expression('hasRole(''ROLE_MODERATOR'')')}" class="action-icons">
                <a th:href="@{/question/edit/{id}(id=${question.getId()})}"><img alt="editar"
                                                                                 th:src="@{/img/icons/lapis.svg}"/></a>
                <a th:href="@{/question/delete/{id}(id=${question.getId()})}"><img alt="deletar"
                                                                                   th:src="@{/img/icons/lixeira.svg}"/></a>
            </div>
            <div class="question-page-main-card">
                <div class="main-card-left">
                    <div class="image-name-last-access">
                        <img alt="Imagem do perfil do usuário" th:if="${question.getUser().getImage()}" th:src="${question.getUser().getImage()}"/>
                        <img alt="Imagem do perfil do usuário" th:if="!${question.getUser().getImage()}" src="/img/user.svg"/>
                        <div class="name-last-access">
                            <a th:href="@{/user/{id}(id=${question.getUser().getId()})}" th:text="${question.getUser().getName()}"></a>
                            <small th:text="${question.getCreatedAtString()}"></small>
                        </div>
                    </div>
                    <div th:if="${question.getIsActive() == 0}" class="status-pill-questions bg-success self-end" id="mobile-status">
                        <small>Solucionada</small>
                    </div>
                    <div th:if="${question.getIsActive() == 1}" class="status-pill-questions bg-danger self-end" id="mobile-status">
                        <small>Não Solucionada</small>
                    </div>
                </div>
                <div class="main-card-right">
                    <div class="row">
                        <div class="question-title">
                            <p th:text="${question.getTitle()}"></p>
                        </div>
                        <div class="topic-pill bg-topic align-right align-self-center">
                            <small th:text="${topic.getName()}"></small>
                        </div>
                    </div>

                    <div class="question-text">
                        <p th:text="${question.getDescription()}"></p>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${question.getIsActive() == 0}" class="status-pill-questions bg-success self-end" id="desktop-status">
            <small>Solucionada</small>
        </div>
        <div th:if="${question.getIsActive() == 1}" class="status-pill-questions bg-danger self-end" id="desktop-status">
            <small>Não Solucionada</small>
        </div>
            <div sec:authorize="isAuthenticated()" class="add-comment self-end" th:onclick="|updateModal('questionComment;${question.id}')|">
                <img alt="Adicionar Comentário" th:src="@{/img/icons/add_comment.svg}"/>
                <small>Adicionar um Comentário</small>
            </div>
        <div class="comments">
            <div class="comment-actions" th:each="comment : ${question.getAllActiveComments()}">
                <div class="comment-card">
                    <div class="comment-left">
                        <small th:text="${comment.getText()}" th:id="'comment-' + ${comment.getId()}"></small>
                    </div>
                    <div class="comment-right">
                        <a th:href="'/user/' + ${comment.getUser().getId()}"><small th:text="${comment.getUser().getName()}"></small></a>
                    </div>
                </div>
                <div class="action-icons-comment" sec:authorize="isAuthenticated()"
                     th:if="${#authentication.getPrincipal().id == comment.getUser().getId() || #authorization.expression('hasRole(''ROLE_MODERATOR'')')}">
                    <img th:onclick="|updateModal('editComment;${comment.getId()}')|" th:src="@{/img/icons/lapis.svg}" alt="Editar comentário"/>
                    <a th:href="'/comment/delete/' + ${question.getId()} + '/' + ${comment.getId()}"><img th:src="@{/img/icons/lixeira.svg}" alt="Excluir comentário"/></a>
                </div>
            </div>
        </div>
        <hr>
        <div class="answer-textarea-container" th:if="${question.getIsActive() == 1}">
            <h2>Digite sua resposta</h2>

            <div sec:authorize="${!isAnonymous()}" th:if="${#authentication.getPrincipal().id!=question.getUser().getId()}" class="answer-textarea-button">
                <form th:method="post" th:object="${answer}" th:action="@{/answer/create}">
                    <input th:type="hidden" th:id="question" th:name="question" th:value="${question.getId()}"/>
                    <textarea th:disabled="!${#request.userPrincipal}" name="text" id="text"> </textarea>
                    <button type="submit" class="button-default bg-light-green" th:disabled="!${#request.userPrincipal}">
                        Responder pergunta
                    </button>
                </form>
            </div>
            <div sec:authorize="${isAnonymous()}" class="required-login-banner">
                <h1>Você não está logado.</h1>
                <h2>Entre com sua conta ou cadastre-se para responder.</h2>
            </div>
            <div sec:authorize="isAuthenticated()"
                 th:if="${#authentication.getPrincipal().id==question.getUser().getId()}" class="required-login-banner">
                <h1>Você não pode responder a sua pergunta.</h1>
                <h2>Bela tentativa!</h2>
            </div>
        </div>
        <div class="answer-textarea-container" th:if="${question.getIsActive() == 0}">
            <h2>Este tópico está encerrado.</h2>
        </div>
        <div th:each="answer:${answers}">
            <div class="answer-card-actions">
                <div sec:authorize="isAuthenticated()"
                     th:if="${#authentication.getPrincipal().id==answer.getUser().getId() && question.getIsActive() == 1 ||
                    #authorization.expression('hasRole(''ROLE_MODERATOR'')')}" class="action-icons">
                    <img th:onclick="|updateModal('editAnswer;${answer.getId()}')|" th:src="@{/img/icons/lapis.svg}" alt="Editar resposta"/>
                    <a th:href="@{/answer/delete/{id}(id=${answer.getId()})}"><img alt="deletar" th:src="@{/img/icons/lixeira.svg}"/></a>
                </div>
                <div th:class="${answer.getIsBest()==0?'answer-page-main-card': 'best-answer-page-main-card'}">
                    <div class="answer-card-left">
                        <img alt="Imagem do perfil do usuário" th:if="${answer.getUser().getImage()}" th:src="${answer.getUser().getImage()}"/>
                        <img alt="Imagem do perfil do usuário" th:if="!${answer.getUser().getImage()}" src="/img/user.svg"/>
                        <div class="name-last-access">
                            <p th:text="${answer.getUser().getName()}"></p>
                            <small th:text="${answer.getCreatedAtString()}"></small>
                        </div>
                    </div>
                    <div class="answer-card-right">
                        <div class="question-text">
                            <p th:text="${answer.getText()}" th:id="'answer-' + ${answer.getId()}"></p>
                        </div>
                    </div>
                    <div class="answer-card-end">
                        <div sec:authorize="isAuthenticated()"
                             th:if="${#authentication.getPrincipal().id==question.getUser().getId()}" class="action-icons-favorite">
                            <a th:href="@{/answer/favorite/{id}(id=${answer.getId()})}">
                                <img alt="favoritar" th:if="${answer.getIsBest()==0}" th:src="@{/img/icons/best_answer_not_selected.svg}"/>
                                <img alt="favoritar" th:if="${answer.getIsBest()==1}" th:src="@{/img/icons/best_answer.svg}"/>
                            </a>
                        </div>
                        <div th:if="${answer.getIsBest()==1}" class="status-pill-questions self-end bg-answer">
                            <small>Melhor resposta</small>
                        </div>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()" class="add-comment self-end" th:onclick="|updateModal('answerComment;${answer.getId()}')|">
                <img alt="Adicionar Comentário" th:src="@{/img/icons/add_comment.svg}"/>
                <small>Adicionar um Comentário</small>
            </div>
            <div class="comments">
                <div class="comment-actions" th:each="comment : ${answer.getAllActiveComments()}">
                    <div class="comment-card">
                        <div class="comment-left">
                            <small th:text="${comment.getText()}" th:id="'comment-' + ${comment.getId()}"></small>
                        </div>
                        <div class="comment-right">
                            <a th:href="'/user/' + ${comment.getUser().getId()}"><small th:text="${comment.getUser().getName()}"></small></a>
                        </div>
                    </div>
                    <div class="action-icons-comment" sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().id == comment.getUser().getId()
                    || #authorization.expression('hasRole(''ROLE_MODERATOR'')')}">
                        <img th:onclick="|updateModal('editComment;${comment.getId()}')|" th:src="@{/img/icons/lapis.svg}" alt="Editar comentário"/>
                        <a th:href="'/comment/delete/' + ${question.getId()} + '/' + ${comment.getId()}"><img th:src="@{/img/icons/lixeira.svg}" alt="Excluir comentário"/></a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<div th:replace="fragments/toast.html :: toasts">
</div>
<script defer th:src="@{/js/modal.js}"></script>
</body>
</html>