<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{css/signuplogin.css}">
</head>
<body>
    <header th:insert="fragments/header.html"></header>
    <div class="white-background">
        <img class="logo-img" alt="Logo Townsq" src="/img/logo.svg" />
        <form role="form" th:action="@{/signup}" th:method="post" th:object="${user}">
            <div class="form-control">
                <label for="name">Nome</label>
                <input type="text" name="name" id="name"/>
            </div>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email"/>
            </div>
            <div class="form-control">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password"/>
            </div>
            <button type="submit">Cadastrar</button>
            <div class="form-link">
                <p>Já possui conta?</p>
                <a href="/signin">Entrar</a>
            </div>
        </form>
    </div>
</body>
</html>