<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuário</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
    <div th:insert="fragments/header.html"></div>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="row-4">
                    <div class="col-4 align-center">
                        <div style="width: 7vw; height: 7vw">
                            <div class="avatar"></div>
                        </div>
                    </div>
                    <div class="col">
                        <h2 class="title" th:text="${user.getName()}">Teste</h2>
                        <small class="subtitle"><b>Pontuação: </b><span th:text="${user.getName()}"></span></small>
                        <small class="subtitle"><b>Membro desde: </b><span th:text="${user.getName()}"></span></small>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2 class="title">Biografia</h2>
                        <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</small>
                    </div>
                </div>
            </div>
            <div class="question-card-divider"></div>
            <div class="col-8">
                <div class="row">
                    <div class="col align-center">
                        <h2 class="title">Editar Perfil</h2>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-4">
                                    <div style="width: 9vw; height: 9vw">
                                        <div class="avatar justify-center align-center link">
                                            <img width="40%" src="/img/newpicture.svg" alt="Adicionar nova foto">
                                        </div>
                                    </div>
                                </div>
                                <div class="col align-center">
                                    <div class="form-control">
                                        <div class="form-control">
                                            <label for="name" style="font-size: 10pt">Nome</label>
                                            <input type="text" name="name" id="name"/>
                                        </div>
                                    </div>

                                    <div class="form-control">
                                        <div class="form-control">
                                            <label for="email" style="font-size: 10pt">Email</label>
                                            <input type="text" name="name" id="email"/>
                                        </div>
                                    </div>

                                    <div class="form-control">
                                        <div class="form-control">
                                            <label for="bio" style="font-size: 10pt">Bio</label>
                                            <textarea type="text" name="name" id="bio"></textarea>
                                        </div>
                                    </div>

                                    <div class="form-control">
                                        <div class="form-control">
                                            <label for="currentPassword" style="font-size: 10pt">Senha atual</label>
                                            <input type="text" name="name" id="currentPassword"/>
                                        </div>
                                    </div>

                                    <div class="form-control">
                                        <div class="form-control">
                                            <label for="newPassword" style="font-size: 10pt">Nova senha</label>
                                            <input type="text" name="name" id="newPassword"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!--<div th:if="${user}">-->
<!--    <h>Id do usuário:</h>-->
<!--    <h th:text="${user.getId()}"></h>-->
<!--    <p></p>-->
<!--    <h>Nome Completo:</h>-->
<!--    <h th:text="${user.getName()}"></h>-->
<!--    <p></p>-->
<!--    <h>E-Mail:</h>-->
<!--    <h th:text="${user.getEmail()}"></h>-->
<!--    <p></p>-->
<!--    <h>Biografia:</h>-->
<!--    <h th:text="${user.getBio()}"></h>-->
<!--    <p></p>-->
<!--    <h>Pontuação:</h>-->
<!--    <h>TODO</h>-->
<!--    <p></p>-->
<!--    <h>Membro desde:</h>-->
<!--    <h>TODO</h>-->
<!--    <hr/>-->
<!--</div>-->
<div th:if="!${user}">
    <h1>Usuário não encontrado</h1>
</div>
</body>
</html>