<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: header"></div>
    <title>Usuário</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/userEdit.css}">
</head>
<body>
<header th:replace="fragments/header.html :: header"></header>
<div th:if="${user == null}">
    <h1>Usuário não encontrado</h1>
</div>

<div class="container">
    <div class="profile-info-container">
        <div class="profile-info">
            <div class="img-container">
                <img class="avatar" th:if="!${user.getImage()}" src="/img/profilePic.svg" alt="Foto do usuário">
                <img class="avatar" th:if="${user.getImage()}" th:src="${user.getImage()}" alt="Foto do usuário">
            </div>
            <div class="info-container">
                <h2 th:text="${user.getName()}"></h2>
                <br>
                <small> <b>Membro desde:&nbsp </b> <span
                        th:text="${#dates.format(user.getCreatedAt(), 'dd/MM/yyyy')}"></span></small>

                <div class="items-info">
                    <p class="pontuacao">Pontuação: 20 pontos</p>
                </div>
            </div>
        </div>
        <div class="bio">
            <div th:if="${user.getCompany()}" id="company" class="bio-item">
                <h3>Empresa</h3>
                <p th:text="${user.getCompany()}"></p>
            </div>
            <div th:if="${user.getWebsite()}" id="website" class="bio-item">
                <h3>Site</h3>
                <p th:text="${user.getWebsite()}"></p>
            </div>
            <div th:if="${user.getBio()}" id="biography" class="bio-item">
                <h2>Biografia</h2>
                <p th:text="${user.getBio()}"></p>
            </div>
        </div>
    </div>
    <div class="line"></div>
    <div class="question-card-divider"></div>
    <div class="profile-edit">
        <div class="newpicture">
            <p class="title pic-title">Editar Perfil</p>
            <div class="img-container">
                <img class="avatar" th:if="!${user.getImage()}" src="/img/newpicture.png" alt="Foto do usuário">
                <img class="avatar" th:if="${user.getImage()}" th:src="${user.getImage()}" alt="Foto do usuário">
            </div>
        </div>
        <div class="form" style="background-color: #2D839E">
            <p class="title edit-title">Editar Perfil</p>

            <div class="form-group">

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/toast.html :: toasts">
</div>
</body>
<script>
    function showImg() {
        file = document.getElementById('fileinput').files[0]

        const reader = new FileReader()
        reader.readAsArrayBuffer(file)
        reader.onload = () => {
            const result = reader.result;
            const base = new Uint8Array(result).reduce(
                (data, byte) => data + String.fromCharCode(byte),
                ""
            )

            const url = `data:image/jpg;charset=utf-8;base64, ${btoa(base)}`
            Array.from(document.querySelectorAll('.newpicture')).forEach(e => e.setAttribute('src', url))
        }
    }
</script>
</html>