<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: header"></div>
    <title>Usuários</title>
</head>
<body>
    <header th:replace="fragments/header.html :: header"></header>
    <div th:replace="fragments/toast.html :: toasts">
    </div>
    <h1>Usuários cadastrados:</h1>
    <div th:each="user: ${users}">
        <p th:text="${user.getId()}"></p>
        <p th:text="${user.getName()}"></p>
        <p th:text="${user.getEmail()}"></p>
        <p th:text="${user.getBio()}"></p>
        <hr/>
    </div>
</body>
</html>