<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Usuário</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/user.css}">
</head>
<body>
<div th:insert="fragments/header.html"></div>
<div class="background" th:if="${user}">

    <div class="profile">
        <div class="profile-info">
            <img class="profile-picture" th:if="!${user.getImage()}" src="/img/profilePic.svg" alt="Adicionar nova foto">
            <img class="profile-picture" th:if="${user.getImage()}" th:src="${user.getImage()}" alt="Adicionar nova foto">

            <div class="test">
                <div class="info">
                    <h1 th:text="${user.getName()}"></h1>
                    <div class="align-center">
                        <h4>Pontuação:</h4>
                        <p th:text="${user.getScore()} + ' pontos'"></p>
                    </div>
                    <div class="align-center">
                        <h4>Membro desde:</h4>
                        <p th:text="${#dates.format(user.getCreatedAt(), 'dd/MM/yyyy')}"></p>
                    </div>
                </div>

                <div class="tags">
                    <div class="status-pill bg-answer mx-3">
                        <small>21 respostas</small>
                    </div>
                    <div class="status-pill bg-question">
                        <small>7 perguntas</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="bio">
            <h1>Biografia</h1>
            <p th:text="${user.getBio()}"></p>
        </div>
        <div>
            <a th:if="${#authentication.getPrincipal().id == user.getId()}" th:href="@{/user/edit}">Editar Perfil</a>
        </div>
    </div>

</div>
</div>
<div th:if="${user == null}">
    <h1>Usuário não encontrado</h1>
</div>

</body>
</html>